﻿@model WebSiteBanHang.Models.Liquid_Filling_Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Liquid_Filling_Category</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Air_Pressure, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Air_Pressure)
                @Html.ValidationMessageFor(model => model.Air_Pressure)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Air_Volumn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Air_Volumn)
                @Html.ValidationMessageFor(model => model.Air_Volumn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Filling_Speed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Filling_Speed)
                @Html.ValidationMessageFor(model => model.Filling_Speed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Filling_Range, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Filling_Range)
                @Html.ValidationMessageFor(model => model.Filling_Range)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Category, "Id_Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Category", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_Category)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
