﻿@model WebSiteBanHang.Models.Liquid_Filling_Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Liquid_Filling_Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Air_Pressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Air_Pressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Air_Volumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Air_Volumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filling_Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filling_Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filling_Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filling_Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name_Category)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
