﻿@model IEnumerable<WebSiteBanHang.Models.Liquid_Filling_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Air_Pressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Air_Volumn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filling_Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filling_Range)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name_Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Air_Pressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Air_Volumn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filling_Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filling_Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name_Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Liquid_Filling }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Liquid_Filling }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Liquid_Filling })
        </td>
    </tr>
}

</table>
