﻿@model WebSiteBanHang.Models.Table_Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Table_Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Pressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Pressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Production_Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Production_Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Net_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name_Category)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
