﻿@model WebSiteBanHang.Models.Table_Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Table_Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Pressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Pressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Production_Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Production_Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Net_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name_Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Table }) |
    @Html.ActionLink("Back to List", "Index")
</p>
