﻿@model WebSiteBanHang.Models.Table_Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Table_Category</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id_Table)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model_Number)
                @Html.ValidationMessageFor(model => model.Model_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dies, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dies)
                @Html.ValidationMessageFor(model => model.Dies)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Max_Pressure, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Max_Pressure)
                @Html.ValidationMessageFor(model => model.Max_Pressure)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Max_Depth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Max_Depth)
                @Html.ValidationMessageFor(model => model.Max_Depth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Production_Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Production_Capacity)
                @Html.ValidationMessageFor(model => model.Production_Capacity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Machine_Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Machine_Size)
                @Html.ValidationMessageFor(model => model.Machine_Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Net_Weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Net_Weight)
                @Html.ValidationMessageFor(model => model.Net_Weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Category, "Id_Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Category", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_Category)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
