﻿
@using WebSiteBanHang.Models
@model FeedBack
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}


    <h2>FeedBack Form</h2>
    <form action="">
        <div class="form-group">
            <label >Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="">
        </div>
        <div class="form-group">
            <label for="pwd">Company_Name</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter Company_Name" name="">
        </div>
        <div class="form-group">
            <label >Address</label>
            <input type="text" class="form-control" id="" placeholder="Enter Address" name="">
        </div>
        <div class="form-group">
            <label >City</label>
            <input type="text"class="form-control" id="" placeholder="Enter City" name="">
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" id="" placeholder="Enter State" name="">
        </div>
        <div class="form-group">
            <label >Postal_Codelabel</label>
            <input type="text"class="form-control" id="" placeholder="Enter Postal_Codelabel" name="">
        </div>
        <div class="form-group">
            <label>Country</label>
            <input type="text"class="form-control" id="" placeholder="Enter Country" name="">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text"class="form-control" id="" placeholder="Enter Phone" name="">
        </div>
        <div class="form-group">
            <label>Comments</label>
            <input type="text"class="form-control" id="" placeholder="Enter Comments" name="">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>


<h1 style="color:red;"> @ViewBag.ThongBao</h1>
<style>
    .container h2 {
        color: burlywood;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px
    }
    .container form button {
        margin-bottom: 20px
    }
    
</style>
