﻿
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}


    <h2>Login</h2>
    <form action="">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

<style>
    .container form button {
        margin-bottom: 20px
    }

        .container h2 {
            color: burlywood;
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px
        }
</style>

