﻿@using WebSiteBanHang.Models
@model IEnumerable<SanPham>


<div class="container">
    <div class="h_menu4">
        <ul class="memenu skyblue">
            <li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>
            <li class="active grid" style="display: inline;"><a class="color8" href="@Url.Action("Index","Home")">Home</a></li>
            <li class="grid" style="display: inline;">
                <a class="color2" href="#">	About Us</a>
                <div class="mepanel">
                    <div class="row">

                    </div>
                </div>
            </li>
            <li style="display: inline;"><a class="color4" href="@Url.Action("Product","Home")">Products</a></li>
            <li style="display: inline;"><a class="color6" href="@Url.Action("Index","ContactUs")">Contact US</a></li>
            <li style="display: inline;"><a class="color6" href="@Url.Action("Index","QuoteUs")">Quote US</a></li>
            <li style="display: inline;"><a class="color6" href="@Url.Action("Index","Carrer")">Carrer</a></li>
            <li style="display: inline;"><a class="color6" id="btnDangNhap"  href="@Url.Action("DangNhap","Home")">Login</a></li>
            <li style="display: inline;"><a class="color6" id="btnDangKi" href="@Url.Action("DangKy","Home")">Register</a></li>
        </ul>
    </div>
   
</div>

