﻿@model WebSiteBanHang.Models.Capsule_Encapsulation_Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Capsule_Encapsulation_Category</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id_capsule)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Output, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Output)
                @Html.ValidationMessageFor(model => model.Output)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Capsule_Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capsule_Size)
                @Html.ValidationMessageFor(model => model.Capsule_Size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Machine_Dimension, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Machine_Dimension)
                @Html.ValidationMessageFor(model => model.Machine_Dimension)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hipping_Weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hipping_Weight)
                @Html.ValidationMessageFor(model => model.Hipping_Weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Category, "Id_Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Category", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_Category)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
