﻿@model IEnumerable<WebSiteBanHang.Models.Capsule_Encapsulation_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Output)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capsule_Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Machine_Dimension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hipping_Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name_Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Output)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capsule_Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Machine_Dimension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hipping_Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name_Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_capsule }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_capsule }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_capsule })
        </td>
    </tr>
}

</table>
