﻿@using WebSiteBanHang.Models
@model IEnumerable<SanPham>


@*@foreach(var item in Model.Take(3))
    {
    <div class="col-md-4 grid-top">
        <a href="@Url.RouteUrl("XemChiTiet", new { @id = item.MaSP, @tensp=item.TenSP})" class="b-link-stripe b-animate-go  thickbox">
            <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" alt="">
            <div class="b-wrapper">
                <h3 class="b-animate b-from-left    b-delay03 " style="text-align:left;font-size:15pt;">
                   @Html.Raw(item.CauHinh)
                </h3>
            </div>
        </a>

        <p><a href="single.html">@item.TenSP</a></p>
    </div>
    }
    <div class="clearfix"> </div>*@

