﻿@using WebSiteBanHang.Models
@model SanPham
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<div class="col-md-9 product-price1">
    <div class="col-md-5 single-top">
        <div class="flexslider">
            <ul class="slides">
                <li data-thumb="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh)">
                    <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh1)">
                    <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh1)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh2)">
                    <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh2)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh3)">
                    <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh3)" />
                </li>
            </ul>
        </div>
        <!-- FlexSlider -->
        <script defer src="~/Content/ProductLayout/js/jquery.flexslider.js"></script>
        <link rel="stylesheet" href="~/Content/ProductLayout/css/flexslider.css" type="text/css" media="screen" />

        <script>
            // Can also be used with $(document).ready()
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                });
            });
        </script>
    </div>
    <div class="col-md-7 single-top-in simpleCart_shelfItem">
        <div class="single-para ">
            <h4>@Model.TenSP</h4>
            <div class="star-on">
                <ul class="star-footer">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                </ul>
                <div class="review">
                    <a href="#"> Lượt xem: @Model.LuotXem</a>

                </div>
                <div class="clearfix"> </div>
            </div>

            <h5 class="item_price">@Model.DonGia.Value.ToString("#,##") VNĐ</h5>
            <p>
                @Html.Raw(Model.CauHinh)
            </p>
            <a href="#" class="add-cart item_add">Giỏ hàng</a>
        </div>
        
    </div>
    <div class="clearfix"> </div>
    <h3>Thông tin sản phẩm</h3>
    <hr />
    @Html.Raw(Model.MoTa)
    <!---->
   
   
</div>



