﻿
@using WebSiteBanHang.Models
@model Carrer

@{
    ViewBag.Title = "RegisterCarrer";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}


<div id="carrer" style="display:none">
    <div class="carrer">
        <h1>Form Carrer</h1>
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true)
    <div class="col-md-6 register-top-grid">
        <h3>Thông tin cá nhân</h3>
        <div class="titleclass">
            <span>@Html.LabelFor(model => model.Name, new { @class = "control-label " })</span>
            @Html.TextBoxFor(model => model.Name, new { @class = "cTaiKhoan" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="titleclass">
            <span>Name</span>
            @Html.TextBox("HoTen")
        </div>
        <div class="titleclass">
            <span>Address</span>
            @Html.TextBox("DiaChi")
        </div>
        <div class="titleclass">
            <span>Email</span>
            @Html.TextBox("Email")
        </div>
        <div class="titleclass">
            <span>Phone</span>
            @Html.TextBox("SoDienThoai")
        </div>
        <div class="titleclass">
            <span>Gender</span>
            @Html.ListBox("Gender")
        </div>
        <div class="titleclass">
            <span>Skill</span>
            @Html.TextBox("Skill")
        </div>
        <div class="titleclass">
            <span>Education</span>
            @Html.TextBox("Education")
        </div>
        <div class="titleclass">
            <span>Work_History</span>
            @Html.TextBox("Education")
        </div>
    </div>
                <input value="Send Form" type="submit">
       
            <div class="clearfix"> </div>
        }
    </div>
</div>

<h1 style="color:red;"> @ViewBag.ThongBao</h1>
<style>
    .titleclass {
        margin-top: 1%;
        text-align: left;
    }
</style>

<script>
    $(".titleclass").find("a").prop("href", "#a");
</script>