﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="container contact">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                <h2>Contact Us</h2>
                <h4>We would love to hear from you !</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact-form">
                <div class="form-group">
                        <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                </div>
                <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment"  placeholder="Enter Comment"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


