﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Metro Panel Flat Bootstarp Resposive Website Template| Home :: w3layouts</title>
    <link href="~/Content/AdminLayout/css/bootstrap.css" rel="stylesheet" type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="~/Content/AdminLayout/js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Metro Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script>
$(document).ready(function (c) {
    $('.alert-close').on('click', function (c) {
        $('.calender-left').fadeOut('slow', function (c) {
            $('.calender-left').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close1').on('click', function (c) {
        $('.calender-right').fadeOut('slow', function (c) {
            $('.calender-right').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close2').on('click', function (c) {
        $('.graph').fadeOut('slow', function (c) {
            $('.graph').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close3').on('click', function (c) {
        $('.site-report').fadeOut('slow', function (c) {
            $('.site-report').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close4').on('click', function (c) {
        $('.total-sale').fadeOut('slow', function (c) {
            $('.total-sale').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close5').on('click', function (c) {
        $('.to-do').fadeOut('slow', function (c) {
            $('.to-do').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close7').on('click', function (c) {
        $('.user-trends').fadeOut('slow', function (c) {
            $('.user-trends').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close6').on('click', function (c) {
        $('.world-map').fadeOut('slow', function (c) {
            $('.world-map').remove();
        });
    });
});
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48014931-1', 'codyhouse.co');
        ga('send', 'pageview');

        jQuery(document).ready(function ($) {
            $('.close-carbon-adv').on('click', function () {
                $('#carbonads-container').hide();
            });
        });
    </script>
    <script src="~/Content/AdminLayout/js/zingchart.min.js"></script>
    <script src="~/Content/AdminLayout/js/zingchart.jquery.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.easydropdown.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.nicescroll.js"></script>

    <link href="~/Content/AdminLayout/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.sampledata.js" type="text/javascript"></script>
    @*Chèn font icon vào layout*@
    <link href="~/Content/CssFont/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: '#333333',
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#666666',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#C8EEFF', '#006491'],
                normalizeFunction: 'polynomial'
            });
        });
    </script>
    <!----Calender -------->
    <link rel="stylesheet" href="~/Content/AdminLayout/css/clndr.css" type="text/css" />
    <script src="~/Content/AdminLayout/js/underscore-min.js"></script>
    <script src="~/Content/AdminLayout/js/moment-2.2.1.js"></script>
    <script src="~/Content/AdminLayout/js/clndr.js"></script>
    <script src="~/Content/AdminLayout/js/site.js"></script>
    <!----End Calender -------->
    <script src="~/Content/AdminLayout/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab,#horizontalTab1,#horizontalTab2').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <link href="css/nav.css" rel="stylesheet" type="text/css" media="all" />
    <script src="js/main.js"></script> <!-- Resource jQuery -->
    <!-- chart -->
    <script src="js/Chart1.js"></script>
    <!-- //chart -->
</head>
<body>
    <div class="total-content">
        <div class="col-md-3 side-bar">
            <div class="logo text-center">
                <a href="#"><img src="~/Content/AdminLayout/images/logo.png" alt="" /></a>
            </div>
            <div class="navigation">
                <h3>Featured</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
                    <li><a href="#">Quản lý sản phẩm</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="art"></i></a></li>
                    <li><a href="#">Articals</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="user"></i></a></li>
                    <li><a href="#">Users</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="fat"></i></a></li>
                    <li><a href="#">Favorites</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="speed"></i></a></li>
                    <li><a href="#">Speed</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="setting"></i></a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="#"><i class="dash"></i></a></li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="mail"></i></a></li>
                    <li><a href="#">Emails</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="cal"></i></a></li>
                    <li><a href="#">Calendar</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="page"></i></a></li>
                    <li><a href="#">Pages</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h3>All Others</h3>
                <ul>
                    <li><a href="#"><i class="rev"></i></a></li>
                    <li><a href="#">Revenue</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="pic"></i></a></li>
                    <li><a href="#">Pictures</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="faq"></i></a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 content">
     
            <div class="clearfix"></div>
            <p class="home"><a href="#">Home</a> > <strong> Dashboard</strong></p>
            
            @RenderBody()
           
            
            <div class="calenders">
                <div class="calender-left">
                    <div class="alert-close"> </div>
                    <h3>Contact form</h3>
                    <form>
                        <input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
                        <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                        <textarea value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                        <input type="submit" value="SEND" />
                    </form>
                </div>
            </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">
                <div class="col-md-4 amet-sed ">
                    <h4>CONTACT US</h4>

                    <p>
                        The Pharmacy Shop
                    </p>
                    <p>We are for you</p>
                    <p>Office:  +12 34 995 0792</p>
                    <p>Address:  VIETNAM</p>

                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>News Info</h4>
                    <p>
                        Sign Up Email to receive the latest information about the product
                    </p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p>© 2021 New Pharmacy Shop | Design by group student Aptech </p>
        </div>
    </div>
</div>
</body>
</html><!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Metro Panel Flat Bootstarp Resposive Website Template| Home :: w3layouts</title>
    <link href="~/Content/AdminLayout/css/bootstrap.css" rel="stylesheet" type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="~/Content/AdminLayout/js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Metro Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script>
$(document).ready(function (c) {
    $('.alert-close').on('click', function (c) {
        $('.calender-left').fadeOut('slow', function (c) {
            $('.calender-left').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close1').on('click', function (c) {
        $('.calender-right').fadeOut('slow', function (c) {
            $('.calender-right').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close2').on('click', function (c) {
        $('.graph').fadeOut('slow', function (c) {
            $('.graph').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close3').on('click', function (c) {
        $('.site-report').fadeOut('slow', function (c) {
            $('.site-report').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close4').on('click', function (c) {
        $('.total-sale').fadeOut('slow', function (c) {
            $('.total-sale').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close5').on('click', function (c) {
        $('.to-do').fadeOut('slow', function (c) {
            $('.to-do').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close7').on('click', function (c) {
        $('.user-trends').fadeOut('slow', function (c) {
            $('.user-trends').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close6').on('click', function (c) {
        $('.world-map').fadeOut('slow', function (c) {
            $('.world-map').remove();
        });
    });
});
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48014931-1', 'codyhouse.co');
        ga('send', 'pageview');

        jQuery(document).ready(function ($) {
            $('.close-carbon-adv').on('click', function () {
                $('#carbonads-container').hide();
            });
        });
    </script>
    <script src="~/Content/AdminLayout/js/zingchart.min.js"></script>
    <script src="~/Content/AdminLayout/js/zingchart.jquery.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.easydropdown.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.nicescroll.js"></script>

    <link href="~/Content/AdminLayout/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Content/AdminLayout/js/jquery.vmap.sampledata.js" type="text/javascript"></script>
    @*Chèn font icon vào layout*@
    <link href="~/Content/CssFont/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: '#333333',
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#666666',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#C8EEFF', '#006491'],
                normalizeFunction: 'polynomial'
            });
        });
    </script>
    <!----Calender -------->
    <link rel="stylesheet" href="~/Content/AdminLayout/css/clndr.css" type="text/css" />
    <script src="~/Content/AdminLayout/js/underscore-min.js"></script>
    <script src="~/Content/AdminLayout/js/moment-2.2.1.js"></script>
    <script src="~/Content/AdminLayout/js/clndr.js"></script>
    <script src="~/Content/AdminLayout/js/site.js"></script>
    <!----End Calender -------->
    <script src="~/Content/AdminLayout/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab,#horizontalTab1,#horizontalTab2').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <link href="css/nav.css" rel="stylesheet" type="text/css" media="all" />
    <script src="js/main.js"></script> <!-- Resource jQuery -->
    <!-- chart -->
    <script src="js/Chart1.js"></script>
    <!-- //chart -->
</head>
<body>
    <div class="total-content">
        <div class="col-md-3 side-bar">
            <div class="logo text-center">
                <a href="#"><img src="~/Content/AdminLayout/images/logo.png" alt="" /></a>
            </div>
            <div class="navigation">
                <h3>Featured</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
                    <li><a href="#">Quản lý sản phẩm</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="art"></i></a></li>
                    <li><a href="#">Articals</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="user"></i></a></li>
                    <li><a href="#">Users</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="fat"></i></a></li>
                    <li><a href="#">Favorites</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="speed"></i></a></li>
                    <li><a href="#">Speed</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="setting"></i></a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="#"><i class="dash"></i></a></li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="mail"></i></a></li>
                    <li><a href="#">Emails</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="cal"></i></a></li>
                    <li><a href="#">Calendar</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="page"></i></a></li>
                    <li><a href="#">Pages</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h3>All Others</h3>
                <ul>
                    <li><a href="#"><i class="rev"></i></a></li>
                    <li><a href="#">Revenue</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="pic"></i></a></li>
                    <li><a href="#">Pictures</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="faq"></i></a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 content">
     
            <div class="clearfix"></div>
            <p class="home"><a href="#">Home</a> > <strong> Dashboard</strong></p>
            
            @RenderBody()
           
            
            <div class="calenders">
                <div class="calender-left">
                    <div class="alert-close"> </div>
                    <h3>Contact form</h3>
                    <form>
                        <input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
                        <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                        <textarea value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                        <input type="submit" value="SEND" />
                    </form>
                </div>
            </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">
                <div class="col-md-4 amet-sed ">
                    <h4>CONTACT US</h4>

                    <p>
                        The Pharmacy Shop
                    </p>
                    <p>We are for you</p>
                    <p>Office:  +12 34 995 0792</p>
                    <p>Address:  VIETNAM</p>

                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>News Info</h4>
                    <p>
                        Sign Up Email to receive the latest information about the product
                    </p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p>© 2021 New Pharmacy Shop | Design by group student Aptech </p>
        </div>
    </div>
</div>
</body>
</html>