﻿
@{
    ViewBag.Title = "Footer";
}

<div class="footer">
    <div class="container">
        <div class="footer-top-at">
            <div class="col-md-4 amet-sed ">
                <h4>CONTACT US</h4>

                <p>
                    The Pharmacy Shop
                </p>
                <p>We are for you</p>
                <p>Office:  +12 34 995 0792</p>
                <p>Address:  VIETNAM</p>

                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>

                </ul>
            </div>
            <div class="col-md-4 amet-sed">
                <h4>News Info</h4>
                <p>
                    Sign Up Email to receive the latest information about the product
                </p>
                <form>
                    <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="Sign up">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-class">
        <p>© 2021 New Pharmacy Shop | Design by group student Aptech </p>
    </div>
</div>

