﻿@using WebSiteBanHang.Models
@model  User

@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;


<div class="container">
    <div class="header-top">
            <div class="header-left">
                <ul>
                    @if (Session["TaiKhoan"] != null && Session["TaiKhoan"] != "")
                    {
                        User tv = (User)Session["TaiKhoan"];
                        <li>Chào @tv.Name </li>
                        @Html.ActionLink("Đăng xuất", "DangXuat", "Home")
                    }
                    else
                    {
                        <button type="button" id="btnDangNhap" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Login
                        </button>
                        <button type="button" id="btnDangKi" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Register
                        </button>
                        //href = "@Url.Action("DangKy","Home")"
                    }
                    <li>
                    </li>
                </ul>
            </div>
        </div>
 </div>

    <link href="~/Content/css/style_form_dangnhap.css" rel="stylesheet" />
    <br />
    @*Tạo 1 div bên ngoài chứa div login-form *@
    <div id="popup_login">
        <div class="login-form" id="login-form">
            <div style="clear:both;text-align:right;margin-bottom:0;">
                <span id="close-form" class="btn btn-danger">X</span>
            </div>
            <h2>Đăng nhập</h2>
            <div class="form-info">
                @using (Ajax.BeginForm("DangNhap", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
                {

                    <input id="email" name="txtTenDangNhap" placeholder="Email" required="" type="text">
                    <input id="password" name="txtMatKhau" placeholder="Password" required="" type="password">
                    <p><a href="#">Quên mật khẩu?</a></p>
                    <h3 style="font-weight:bold;color:red;text-align:left;" id="ThongBao"> </h3>
                    <button type="submit" class="btn btn-success" id="btnDangNhap1">Login</button>
                    @*@Url.Action("DangKy", "Home")*@
                }

            </div>
        </div>
    </div>
    <div id="popup_register">
        <div class="login-form" id="login-form">
            <div style="clear:both;text-align:right;margin-bottom:0;">
                <span id="close-form-register" class="btn btn-danger">X</span>
            </div>
            <h2>Register</h2>
            <div class="form-info">
                @using (Ajax.BeginForm("DangKy", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
                {
                    <input class="Email" name="txtTenDangNhap" placeholder="Email" required="" type="text">

                    <input class="Password" name="txtMatKhau" placeholder="Password" required="" type="password">
                    <input class="Name" name="txtName" placeholder="Name" required="" type="text">
                    <input class="Age" name="txtAge" placeholder="Age" required="" type="text">
                    <input class="Phone" name="txtPhone" placeholder="Phone" required="" type="text">
                    <input class="Address" name="txtAddress" placeholder="Address" required="" type="text">
                    <h3 style="font-weight:bold;color:red;text-align:left;" id="ThongBao"> </h3>
                    <button type="submit" class="btn btn-success" id="btnDangKi">Submit</button>

                }

            </div>
        </div>
    </div>
    <style>
        #close-form {
            color: white;
        }


        #login-form {
            background: #3a3a46;
            cursor: pointer;
        }

        /*css cho phần div popup_login*/
        #popup_login {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            z-index: 9999;
            display: none;
        }

        #popup_register {
            /*position: fixed;*/
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            z-index: 9999;
            display: none;
        }


        .container {
            text-align: left;
        }
    </style>

