﻿<!DOCTYPE html>

<html>

<head>
    <title>New Store A Ecommerce Category Flat Bootstarp Resposive Website Template | Signle :: w3layouts</title>
    <link href="~/Content/ProductLayout/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/ProductLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/price-range.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
                         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="~/Content/ProductLayout/css/memenu.css" rel="stylesheet" type="text/css" media="all" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/ProductLayout/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="~/Content/js/price-range.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/Content/js/main.js"></script>

    <script type="text/javascript" src="~/Content/ProductLayout/js/memenu.js"></script>


    <script src="~/Content/ProductLayout/js/main.js"></script>
    <script src="~/Content/ProductLayout/js/simpleCart.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>

<body>
    <!--header-->
    <div class="container">
        <div class="header">
            <div class="head-top">
                <div class="logo">
                    <a href=""><img style="width:150px" src="~/Content/ProductLayout/images/logo.png" alt=""></a>
                </div>
                @Html.Partial("~/Views/Home/MenuPartial.cshtml")
            </div>
        </div>
        <div class="section">
            <section id="slider">
                <!--slider-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h2>About Me</h2>
                            <img style="width:150px" src="~/Content/ProductLayout/images/b3.jpg" />
                            <div class="fakeimg">Fake Image</div>
                            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                            <h3>Some Links</h3>
                            <p>Lorem ipsum dolor sit ame.</p>
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Disabled</a>
                                </li>
                            </ul>
                            <hr class="d-sm-none">
                            <h2>About Me</h2>
                            <img style="width:150px" src="~/Content/ProductLayout/images/b3.jpg" />
                            <div class="fakeimg">Fake Image</div>
                            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                            <h3>Some Links</h3>
                            <p>Lorem ipsum dolor sit ame.</p>
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Disabled</a>
                                </li>
                            </ul>
                            <hr class="d-sm-none">
                            <h2>About Me</h2>
                            <img style="width:150px" src="~/Content/ProductLayout/images/b3.jpg" />
                            <div class="fakeimg">Fake Image</div>
                            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                            <h3>Some Links</h3>
                            <p>Lorem ipsum dolor sit ame.</p>
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Disabled</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-9">
                            <div class="content">
                                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                                    </ol>

                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="col-sm-6">
                                                <h1><span>Pharmacy</span>-PRODUCT</h1>
                                                <h2>Characteristics of a good pharmacy</h2>
                                                <p>
                                                    Anyone using drugs benefits when they have easier access to a pharmacist.
                                                    Being timely includes both processing the request quickly and having drug stock available to fill the prescription.
                                                    Some consumers need drugs delivered to their home, perhaps by mail, and may select a pharmacy which offers that service.
                                                    Different pharmacies may charge different prices for the same drugs, so shopping for lower prices may identify a pharmacy offering better value.
                                                    In addition to fulfilling prescriptions, a pharmacy might offer preventive healthcare services like vaccinations.
                                                </p>
                                                <a><button type="button" class="btn btn-default get">Go to Detail</button></a>
                                            </div>
                                            <div class="col-sm-6">
                                                <img src="~/Content/Images/pharmacy-shop.jpg" style="height: 540px; margin-top: 20px;" class="girl img-responsive" alt="" />
                                                <img src="~/Content/Images/new.png" class="pricing" alt="" />
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-sm-6">
                                                <h1><span>Pharmacy</span>-PRODUCT</h1>
                                                <h2>Responsibilities</h2>
                                                <p>
                                                    Community-based pharmacists' responsibilities include: checking and dispensing of prescription drugs, providing advice on drug selection and usage to doctors and other health professionals and counseling patients in health promotion,
                                                    disease prevention and the proper use of medicines.
                                                    In most countries regulations govern how dispensaries may operate, with specific requirements for storage conditions, equipment and record keeping.
                                                </p>
                                                <a><button type="button" class="btn btn-default get">Go to Detail</button></a>
                                            </div>
                                            <div class="col-sm-6">
                                                <img src="~/Content/Images/pharmecy-shop2.jpg" style="height: 540px; margin-top: 20px;" class="girl img-responsive" alt="" />
                                                <img src="~/Content/Images/new.png" class="pricing" alt="" />
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="col-sm-6">
                                                <h1><span>Pharmacy</span>-PRODUCT</h1>
                                                <h2>Clinical roles</h2>
                                                <p>
                                                    It is becoming more common for pharmacists to take on extended roles that provide more clinical care directly to patients as part of a primary care team.
                                                    Many are open for extended hours in the evenings and weekends and they are accessible without appointment.
                                                    To help pharmacists be able to take on extended roles, it is common for them to work as part of a team that can include pharmacy technicians, dispensing assistants and counter assistants.
                                                </p>
                                                <a><button type="button" class="btn btn-default get">Go to Detail</button></a>
                                            </div>
                                            <div class="col-sm-6">
                                                <img src="~/Content/Images/pharmecy-shop5.jpg" style="height: 540px; margin-top: 20px;" class="girl img-responsive" alt="" />
                                                <img src="~/Content/Images/new.png" class="pricing" alt="" />
                                            </div>
                                        </div>

                                    </div>

                                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--content-->


    @Html.Partial("~/Views/Layout/Footer.cshtml")

    </div>

</body>

</html>





<script type="text/javascript">
    //Hiển thị popup_login
    $("#btnDangNhap").click(function () {
        $("#popup_login").show();
    });

    $("#btnDangKi").click(function () {
        $("#popup_register").show();
    });

    //Ẩn đi popup_login

    $("#close-form").click(function () {
        $("#popup_login").hide();
    })

    $("#close-form-register").click(function () {
        $("#popup_register").hide();

    })

    //Ví dụ về lấy giá trị từ textbox
    $("#btnDangNhap1").click(function () {
        var TaiKhoan = $("#email").val();
        var MatKhau = $("#password").val();
        //alert("Tài khoản:" + TaiKhoan + "\n Mật khẩu:" + MatKhau);

        if (TaiKhoan == "") {
            alert("Plese Enter Input");
            return;
        }
    });
    $("#btnDangKi").click(function () {
        const email = $(".Email").val();
        const password = $(".Password").val();
        const name = $(".Name").val();
        const age = $(".Age").val();
        const phone = $(".Phone").val();
        const address = $(".Address").val();


    });



</script>
<script>
    $(function () {
        var menu_ul = $('.menu > li > ul'),
            menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });

    });
</script>
